@layer base {
  :root {
    --moderate-blue: #5357b6;
    --grayish-blue: #67727e;
    --white: #ffffff;
    --light-grayish-blue: #c5c6ef;
    --dark-blue: #334253;
    --very-light-gray: #f5f6fa;
    --soft-red: #ed6368;
    --light-gray: #e9ebf0;
    --pale-red: #ffb8bb;

    --fs-300: 0.8125rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;

    --fw-regular: 400;
    --fw-bold: 500;

    --ff: "Rubik", serif;

    --radius: 10px;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    font-family: var(--ff);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    background-color: var(--very-light-gray);
    padding: 0;
    margin: 0;
  }

  button,
  input,
  textarea {
    font: inherit;
  }

  main {
    padding: 2em 1em;
    display: grid;
    gap: 1rem;
  }

  svg,
  img {
    display: block;
  }
}

@layer utilities {
  .button-accent {
    cursor: pointer;
    border: 0;
    background-color: var(--moderate-blue);
    color: var(--white);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    padding: 0.75em 1.5em;
    border-radius: var(--radius);
  }
}

@layer components {
  article {
    display: grid;
    gap: 1rem;
    background-color: var(--very-light-gray);
    color: var(--grayish-blue);
  }
  article .comment-content {
    display: grid;
    background-color: var(--white);
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    border-radius: var(--radius);
  }
  article header {
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    gap: 0.75rem;
  }
  article h2 {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--dark-blue);
    margin: 0;
  }
  article p {
    line-height: 1.5;
    grid-column: 1 / -1;
  }
  article img {
    width: 35px;
    height: 35px;
  }
  article button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    font-weight: var(--fw-bold);
  }
  .comment-actions {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    justify-self: end;
  }

  .replies {
    display: grid;
    gap: 1rem;
    padding-left: 1em;
    border-left: 1px solid var(--light-gray);
  }

  .reply,
  .edit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    color: var(--moderate-blue);
  }
  :is(.reply, .edit) svg path {
    fill: var(--moderate-blue);
  }
  :is(.reply, .edit):hover {
    color: var(--light-grayish-blue);
  }
  :is(.reply, .edit):hover svg path {
    fill: var(--light-grayish-blue);
  }

  .delete-reply {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
    color: var(--soft-red);
  }
  .delete-reply svg path {
    fill: var(--soft-red);
  }
  .delete-reply:hover {
    color: var(--pale-red);
  }
  .delete-reply:hover svg path {
    fill: var(--pale-red);
  }

  .vote {
    display: flex;
    align-items: center;
    background-color: var(--very-light-gray);
    border-radius: var(--radius);
    justify-self: start;
  }
  .downvote:hover svg path,
  .upvote:hover svg path {
    fill: var(--moderate-blue);
  }
  .downvote,
  .upvote {
    height: 40px;
    padding-inline: 1em;
  }
  .vote svg path {
    fill: var(--light-grayish-blue);
  }
  .vote-count {
    color: var(--moderate-blue);
    font-weight: var(--fw-bold);
  }

  .you {
    background-color: var(--moderate-blue);
    color: var(--white);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
  }

  .at {
    color: var(--moderate-blue);
    font-weight: var(--fw-bold);
  }

  .comment-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white);
    border-radius: var(--radius);
    padding: 1em;
  }
  .comment-form img {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .comment-form textarea {
    grid-column: 1 / -1;
    background-color: transparent;
    border: 1px solid var(--light-gray);
    border-radius: var(--radius);
    resize: none;
    padding: 0.5em 1em;
    color: var(--dark-blue);
    width: 100%;
    height: 96px;
  }
  .comment-form textarea:focus {
    outline: 1px solid var(--moderate-blue);
  }
  .comment-form textarea::placeholder {
    color: var(--grayish-blue);
    font-style: italic;
  }
  .comment-form button {
    justify-self: end;
  }
}
